{
	"presets": [["es2015", { "loose": true }]],
	"plugins": [],
	"env": {
	    "utils": {
	      "plugins": [
	        ["module-resolver", {
	          "root": ["./src"],
	          "alias": {
	            "A": "./src/moduleA",
	            "B": "./src/moduleB",
	            "C": "./src/moduleB/moduleC"
	          }
	        }]
	      ]
	    }
	}
}